@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  background-color: #F3EBE8 !important;
}

.home-box h1{
  color: #FF7377;
}

.footer-list .list1 li a{
  list-style: none;
  color: gray;
  padding: 0 5px;
}

.footer-list .list1 li{
  list-style: none;
  line-height: 30px;
  font-weight: 500;
}

.footer-list .list1 li a:hover{
  color: #FF7377;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .home{
    height: 100% !important;
    width: 100% !important;
  }
  }