body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

.btn-secondary {
    height: auto;
    width: 24%;
    padding: 20px;
    font-size: 20px;
}

.btn-primary {
    height: auto;
    width: 24%;
    padding: 20px;
    font-size: 20px;
}

@media only screen and (max-width:600px) {
    .btn-secondary {
        height: auto;
        width: 23.5%;
        padding: 20px;
        font-size: 20px;
    }

    .btn-primary {
        height: auto;
        width: 23.5%;
        padding: 20px;
        font-size: 20px;
    }
}